@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Available commands</h2>

<table class="table">
    <thead>
        <tr>
            <th>Group</th>
            <th>Name</th>
            <th>Description</th>
            <th>Payload</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.Commands.OrderBy(x => x.Group))
            {
                <tr>
                    <td>@item.Group</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.PayloadTypeSerialized</td>
                    <td>
                        <button class="btn btn-primary">
                            Execute
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
